#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# keypair files
*.pem
*.ppk

# all text files
*.txt

# all Azure DevOps related examples
/azureDevOps/*
